PORT=10000
NODE_ENV=production

FRONTEND_ORIGIN=https://aronis19.github.io

MYSQL_HOST=mysql.blazehost.cz
MYSQL_PORT=3306
MYSQL_DATABASE=s867_authme
MYSQL_USER=u867_ElkYhyzLSA
MYSQL_PASSWORD=SEM_DEJ_HESLO_Z_PANELU
AUTHME_TABLE=authme

HCAPTCHA_SECRET=SEM_DEJ_HCAPTCHA_SECRET
